*.egg-info/
.vscode/
MANIFEST.in
instance/
venv/

.pytest_cache/
.coverage
htmlcov/
__pycache__

dist/
build/
*.pyc

2021q2/
.ipynb_checkpoints/
testing_sub_file.py
testing_sub_file.ipynb
window_popup_screenshot.odt
geckodriver.log
Untitled.ipynb

flaskr/db_sqlalchemy.py
flaskr/models.py
flaskr/sqlalchemy/

