attrs==20.3.0
click==7.1.2
coverage==5.4
Flask==1.1.2
# -e git+https://github.com/nbosio1001/fundamental_analysis2.git@b1d33575e0d32e40b288522adc72a546441da1e2#egg=flaskr
gunicorn==20.0.4
importlib-metadata==3.4.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
toml==0.10.2
typing-extensions==3.7.4.3
waitress==1.4.4
Werkzeug==1.0.1
zipp==3.4.0
