{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List of Company Ticker Symbols{% endblock %}</h1>
  <!-- {#% if g.user %#} -->
    <a class="action" href="{{ url_for('company_list.create') }}">New</a>
  <!-- {#% endif %#} -->
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['ticker_symbol'] }}</h1>
        </div>
        <a class="action" href="{{ url_for('company_list.delete', id=post['id']) }}" type="submit" value="Delete" onclick="return confirm('Are you sure?');">Delete</a>
      </header>
    </article>
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
{% endblock %}